$primary_arrow_blue: #8086ED;
$primary_arrow_navy: #0D0A36;
$primary_arrow_light: #FFFFFF;
$primary_blue_muted: #989CE8;
$primary_navy_muted: #444263;

$greys_grey_light: #DADADE;
$greys_blue_light_muted: #CCCDE0;
$greys_navy_light_muted: #BBBBC4;
$greys_navy_mid_muted: #A7A7BA;
$greys_blue_extra_light_muted: #ECEDFE;
$greys_almost_white_muted: #F9F9FD;

$secondary_purple_dark: #432198;
$secondary_purple_mid: #6954BF;
$secondary_purple_light: #9173C0;

$secondary_peach_dark: #DA577C;
$secondary_peach_mid: #DC7B9A;
$secondary_peach_light: #FD9B98;
$secondary_peach_extra_light: #FFB2A2;

$secondary_aubergine_dark: #792762;
$secondary_aubergine_mid: #AB6397;

$secondary_ochre_dark: #B76655;
$secondary_ochre_mid: #E08D48;
$secondary_ochre_light: #D9B16D;

$arrow_success_dark_bg: #03A758;
$arrow_success_light_bg: #28FF97;
$arrow_error_dark_bg: #F31B66;
$arrow_error_light_bg: #CA0A4F;
$arrow_warning_dark_bg: #E08D48;
$arrow_warning_light_bg: #AB511B;

$arrow_hover: #5E64CA;
$arrow_active: #8552D6;

$btn_light_bg_hover: #482D8D;

.arrow-light-blue-bg {
    background: $greys_blue_extra_light_muted;
}

.white-bg-header {
    background-color: $primary_arrow_light;
}
